.button {
  color: var(--button_text_color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--button_color);
  transition-duration: 300ms;
  transition-property: color, background-color;
  transition-timing-function: ease-out;

  &:hover {
    background-color: var(--button_color);
    color: var(--button_text_color);
  }
}
