.card {
  display: flex;
  align-items: start;
  column-gap: 1vmax;
}

.cardHeader {
  display: flex;
  align-items: center;
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary_bg_color);
}

.cardPhoto {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.cardBody {
  display: flex;
  gap: 0.25rem;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.cardName {
  font-weight: bold;
  font-size: 1.25rem;
}

.cardUsername {
  font-size: 0.75rem;
  color: var(--subtitle_text_color);
}
