.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardPhoto {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardName {
  font-weight: bold;
  font-size: 1.25rem;
}

.cardUsername {
  color: #666;
  font-size: 0.75rem;
}
