:root {
  --accent_text_color: #168acd;
  --bg_color: #ffffff;
  --bottom_bar_bg_color: #ffffff;
  --button_color: #40a7e3;
  --button_text_color: #ffffff;
  --destructive_text_color: #d14e4e;
  --header_bg_color: #ffffff;
  --hint_color: #999999;
  --link_color: #168acd;
  --secondary_bg_color: #f1f1f1;
  --section_bg_color: #ffffff;
  --section_header_text_color: #168acd;
  --section_separator_color: #e7e7e7;
  --subtitle_text_color: #999999;
  --text_color: #000000;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text_color);
  background-color: var(--secondary_bg_color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmax;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
  color: var(--text_color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #213547;
    --color-secondary: #ffffff;
    --color-background: #ffffff;
  }
}
